#footer {
    color: #8c8f94;
    font-size: 16px;
  }
  
  #footer .footer-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  #footer .copyright-container {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  
  #footer .logo {
    margin-bottom: 36px;
  }
  
  #footer p {
    font-size: 14px;
    line-height: 24px;
  }
  
  #footer .app_download img {
    margin-top: 6px;
  }
  
  #footer ul li .title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
    font-size: 12px;
  }
  
  #footer ul li a {
    color: #8c8f94;
    text-decoration: none;
    line-height: 36px;
  }
  
  #footer ul li a:hover {
    color: #26272d;
  }
  
  #footer .socials {
    margin-top: 32px;
  }
  
  #footer .socials li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
  }
  
  #footer .socials li a {
    color: rgba(19, 19, 21, 0.3);
  }
  
  #footer .socials li:last-child {
    margin-right: 0;
  }
  
  #footer .more-info {
    line-height: 24px;
    font-size: 14px;
  }
  
  #footer .made-by {
    font-size: 9px;
    font-weight: 700;
    line-height: 22px;
    color: #26272d;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  #footer .made-by a img {
    margin-top: -8px;
    margin-left: 8px;
  }
  